/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bg-color-purple{
    background-color: rgb(23, 2, 43);
}

.navbar-bg-color{
    background-color: rgb(40, 10, 68);
}

.place-right{
    margin-right: 0;
    margin-left: auto;
}
